<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>About Page</title>
</head>
<body>
	<section>

		<div class="card mr-3 ml-3 mb-2 mt-3">

			<div class="card-body">

				<h1 class="text-center" style="color: #8A2BE2;">ABOUT</h1>
				<h3
					class="text-center mt-3 text-secondary font-italic font-weight-light">We
					are building spring boot project</h3>
					
					<!-- KEY TOOLS  -->
					
				<hr />
				<p>
					<span class="font-weight-bold" style="color: #C71585;">KEY TOOLS - </span> 
						<br /> <span class="ml-5 font-italic ">- HTML </span> 
						<br /><span class="ml-5 font-italic ">- CSS </span> 
						<br /> <span class="ml-5 font-italic ">- JAVASCRIPT </span> 
						<br /> <span class="ml-5 font-italic ">- BOOTSTRAP </span> 
						<br /> <span class="ml-5 font-italic ">- THYMLEAF (Template Engine) </span> 
						<br /> <span class="ml-5 font-italic ">- JAVA </span> 
						<br /> <span class="ml-5 font-italic ">- MYSQL </span> 
						<br /> <span class="ml-5 font-italic ">- JPA-HIBERNATE </span> 
						<br /> <span class="ml-5 font-italic ">- SPRINGBOOT </span> 

				</p>
				
				<!-- Dependency  -->

				<hr />
				<p>
					<span class="font-weight-bold" style="color: #C71585;">DEPENDENCY - </span>
					<br /> <span class="ml-5 font-italic ">- spring-boot-starter-test </span> 
					<br /> <span class="ml-5 font-italic ">- spring-boot-starter-parent </span> 
					<br /> <span class="ml-5 font-italic ">- spring-boot-starter-data-jpa </span>
					<br /> <span class="ml-5 font-italic ">- spring-boot-starter-thymeleaf </span>
					<br /> <span class="ml-5 font-italic ">- spring-boot-starter-web </span>
					<br /> <span class="ml-5 font-italic ">- spring-boot-devtools </span>
					<br /> <span class="ml-5 font-italic ">- mysql-connector-java </span>
					<br /> <span class="ml-5 font-italic ">- spring-boot-starter-validation </span>
					<br /> <span class="ml-5 font-italic ">- spring-boot-starter-security </span>
					<br /> <span class="ml-5 font-italic ">- spring-security-test </span>
				</p>
				
				<!-- SOFTWARE REQUIRED  -->
				
				<hr />
				<p>
					<span class="font-weight-bold" style="color: #C71585;">SOFTWARE REQUIRED - </span>
					<br /> <span class="ml-5 font-italic ">- Spring Tool Suit</span> 
					<br /> <span class="ml-5 font-italic ">- Visual Studio Code </span>
					<br /> <span class="ml-5 font-italic ">- Chrome (Browser) </span>
					<br /> <span class="ml-5 font-italic ">- Postman (Checking REST-API output) </span>
					<br /> <span class="ml-5 font-italic ">- MySQL Workbench </span>
				</p>
				
				<!-- DESCRIPTION  -->

				<hr />
				<p>
					<span class="font-weight-bold" style="color: #C71585;">DESCRIPTION - </span>
					 <br /> 
					 <span class="ml-5 font-italic ">- Spring Boot
						helps developers create applications that just run. Specifically,
						it lets you create standalone applications that run on their own,
						without relying on an external web server, by embedding a web
						server such as Tomcat or Netty into your app during the
						initialization process </span>

				</p>




			</div>

		</div>



	</section>
</body>
</html>